:root {
  --header-color: #eb34c6;
  --text-color: #e9ebda;
}

body {
  width: 992px;
}

footer h2 {
  color: var();
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
}
